body {
    background-color: #F5F5F5;
}
text {
    font-family: sans-serif;
    color: #000;
}
a img {
    float: left;
    margin-left: 1%;
}
a {
    font-family: sans-serif;
}
p {
    font-family: sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1dfaf;
}
li {
    float: left;
}
li a {
    display: block;
    color: #048;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}
li a:hover {
    background-color: #555;
    color: white;
}
a:link {
    color: #048;
    text-decoration: none;
}
a:visited {
    color: #148;
    text-decoration: none;
}
footer {
    bottom: 20px;
    margin-bottom: 20;
}
